.booking-calendar{
    width: 50% !important;
}
/* .react-calendar__tile--now,.react-calendar__tile--now:enabled:hover{
    background: none !important;
} */
.react-calendar__tile--active{
    color: #1010104D !important;
}

.error{
    color: rgba(255, 0, 0, 0.61);
}

.card-container{
    margin-top: 50px;
    margin-left: 100px;
}
.header{
    text-align: center;
    margin-left: 420px;
    font-size:40px !important;
    font-weight: bold;
    
}

.main-header{
    background-color: rgb(120, 111, 153);
}


