.modal-90w {
    width: 90vw;
    max-width: 90vw;
  }
  
  .modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-header-text {
    align-self: center;
    font-size: 40px;
  }
  
  .user-image {
    width: 40%;
    height: 40%;
    align-self: center;
    max-width: 250px;
    text-align: center;
  }
  
  .content-headers {
    font-weight: bold;
    color: grey;
  }
  
  .job-details {
    line-height: 40px;
  }
  
  .description {
    line-height: 30px;
  }
  
  .tabs a {
    color: gray;
  }
  